.footer {
    background-color: rgb(3, 3, 61);
}

.footer ul li {
    margin-bottom: 0.8rem;
    color: rgba(224, 224, 224, 0.581);
}

.footer ul li:nth-of-type(1) {
    margin-bottom: 0.8rem;
    color: rgb(233, 233, 233);
}